.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px;
}

.counter{
    font-size: 80px;
    font-weight: bold;
    margin: 50px;
}

.button-class{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.button-class button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(221, 221, 221);
    background-color: blueviolet;
    color: white;
    font-weight: 600;
}